package dto

import "time"

type Create{{.PascalName}}DTO struct {
	// TODO: add your fields here
	// Name string `json:"name" validate:"required,min=2" doc:"Name" example:"John Doe"`
}

type Update{{.PascalName}}DTO struct {
	// TODO: add your fields here
	// Name string `json:"name" validate:"omitempty,min=2" doc:"Name" example:"John Doe"`
}

type {{.PascalName}}DTO struct {
	ID        string    `json:"id"         doc:"Unique identifier" example:"01J5G3..."`
	CreatedAt time.Time `json:"created_at" doc:"Creation timestamp"`
	UpdatedAt time.Time `json:"updated_at" doc:"Last update timestamp"`
	// TODO: map your entity fields here
}
