package middleware

import (
	"github.com/gofiber/fiber/v2"
)

// {{.PascalName}} is a general-purpose middleware.
func {{.PascalName}}() fiber.Handler {
	return func(c *fiber.Ctx) error {
		// Logic before the next handler.
		err := c.Next()
		// Logic after the next handler.
		return err
	}
}
