package {{.PackageName}}

import "github.com/slice-soft/ss-keel-gorm/database"

// {{.PascalName}}Entity is the domain entity for this module.
// database.EntityBase provides ID, CreatedAt and UpdatedAt with GORM tags pre-configured.
type {{.PascalName}}Entity struct {
	database.EntityBase
	Name string `json:"name"`
}
