package {{.PackageName}}

import (
	"github.com/slice-soft/ss-keel-core/contracts"
	"github.com/slice-soft/ss-keel-core/core/httpx"
	"github.com/slice-soft/ss-keel-core/logger"
	"github.com/slice-soft/ss-keel-gorm/database"
)

type {{.PascalName}}RepositoryContract interface {
	contracts.Repository[{{.PascalName}}Entity, string, httpx.PageQuery, httpx.Page[{{.PascalName}}Entity]]
}

type {{.PascalName}}Repository struct {
	*database.GormRepository[{{.PascalName}}Entity, string]
	log *logger.Logger
}

var _ {{.PascalName}}RepositoryContract = (*{{.PascalName}}Repository)(nil)

func New{{.PascalName}}Repository(log *logger.Logger, db *database.DBinstance) *{{.PascalName}}Repository {
	return &{{.PascalName}}Repository{
		GormRepository: database.NewGormRepository[{{.PascalName}}Entity, string](db),
		log:            log,
	}
}
