package {{.PackageName}}

import (
	"testing"

	"github.com/slice-soft/ss-keel-core/logger"
)

func Test{{.PascalName}}ServiceConstructors(t *testing.T) {
	if New{{.PascalName}}Service(logger.NewLogger(false)) == nil {
		t.Fatal("expected service instance")
	}

	var repository {{.PascalName}}RepositoryContract = (*{{.PascalName}}Repository)(nil)
	if New{{.PascalName}}ServiceWithRepository(repository, logger.NewLogger(false)) == nil {
		t.Fatal("expected repository-backed service instance")
	}
}
