package scheduler

import (
	"github.com/slice-soft/ss-keel-core/contracts"
	"github.com/slice-soft/ss-keel-core/logger"
)

func Register{{.PascalName}}Jobs(s contracts.Scheduler, log *logger.Logger) error {
	return s.Add(New{{.PascalName}}Job(log))
}
