[project]
{{- if eq .TemplateMode "init" }}
name    = ""
module  = ""
version = ""
config  = "application.properties"
{{- else }}
name    = "{{.AppName}}"
module  = "{{.ModuleName}}"
version = "1.0.0"
config  = "application.properties"
{{- end }}

[scripts]
{{- if .UseAir }}
{{- if .UseAirConfig }}
dev   = "air -c .air.toml"
{{- else }}
dev   = "air"
{{- end }}
{{- else }}
dev   = "go run ./cmd"
{{- end }}
build = "go build -o bin/{{.AppName}} ./cmd"
test  = "go test ./..."
lint  = "golangci-lint run"


[features]
{{- if .UseAir }}
air = true
{{- end }}
{{- if .UseEnv }}
env = true
{{- end }}
{{- if .UseStarterModule }}
starter_module = true
{{- end }}
