[app]
name    = "{{.AppName}}"
version = "1.0.0"

[scripts]
{{- if .UseAir }}
{{- if .UseAirConfig }}
dev   = "air -c .air.toml"
{{- else }}
dev   = "air"
{{- end }}
{{- else }}
dev   = "go run ./cmd/main.go"
{{- end }}
build = "go build -o bin/{{.AppName}} ./cmd/main.go"
test  = "go test ./..."
lint  = "golangci-lint run"
