package main

import (
	{{- if .UseStarterModule }}
	"{{.ModuleName}}/internal/modules/starter"
	{{- end }}
	"github.com/slice-soft/ss-keel-core/config"
	"github.com/slice-soft/ss-keel-core/core"
	"github.com/slice-soft/ss-keel-core/logger"
)

func main() {
	appConfig := config.MustLoadConfig[core.KConfig]()
	appLogger := logger.NewLogger(appConfig.Env == "production")
	app := core.New(appConfig)

	// Register your modules here:
	{{- if .UseStarterModule }}
	app.Use(starter.NewModule(appLogger))
	{{- else }}
	// app.Use(users.NewModule(appLogger))
	{{- end }}

	if err := app.Listen(); err != nil {
		appLogger.Error("failed to start app: %v", err)
	}
}
