package {{.PackageName}}

import (
	"github.com/slice-soft/ss-keel-core/core"
	"github.com/slice-soft/ss-keel-core/logger"
)

type {{.PascalName}}Controller struct {
	svc *{{.PascalName}}Service
	log *logger.Logger
}

func New{{.PascalName}}Controller(svc *{{.PascalName}}Service, log *logger.Logger) *{{.PascalName}}Controller {
	return &{{.PascalName}}Controller{svc: svc, log: log}
}

func (c *{{.PascalName}}Controller) Routes() []core.Route {
	return []core.Route{
		core.GET("/{{.KebabName}}", c.FindAll).
			Tag("{{.KebabName}}").
			Describe("List {{.KebabName}}").
			WithQueryParam("page", "integer", false, "Page number").
			WithQueryParam("limit", "integer", false, "Items per page"),

		core.GET("/{{.KebabName}}/:id", c.FindOne).
			Tag("{{.KebabName}}").
			Describe("Get {{.KebabName}} by ID"),
	}
}
