package {{.PackageName}}

import "github.com/slice-soft/ss-keel-core/core"

type {{.PascalName}}Controller struct {
	service *{{.PascalName}}Service
}

func New{{.PascalName}}Controller(s *{{.PascalName}}Service) *{{.PascalName}}Controller {
	return &{{.PascalName}}Controller{service: s}
}

func (c *{{.PascalName}}Controller) Routes() []core.Route {
	return []core.Route{
		core.GET("/{{.KebabName}}", c.FindAll).
			Tag("{{.KebabName}}").
			Describe("Listar {{.KebabName}}"),

		core.GET("/{{.KebabName}}/:id", c.FindOne).
			Tag("{{.KebabName}}").
			Describe("Obtener {{.KebabName}} por ID"),

		core.POST("/{{.KebabName}}", c.Create).
			Tag("{{.KebabName}}").
			Describe("Crear {{.KebabName}}"),

		core.PUT("/{{.KebabName}}/:id", c.Update).
			Tag("{{.KebabName}}").
			Describe("Actualizar {{.KebabName}}"),

		core.DELETE("/{{.KebabName}}/:id", c.Delete).
			Tag("{{.KebabName}}").
			Describe("Eliminar {{.KebabName}}"),
	}
}

func (c *{{.PascalName}}Controller) FindAll(ctx *core.Ctx) error {
	return ctx.OK([]map[string]string{})
}

func (c *{{.PascalName}}Controller) FindOne(ctx *core.Ctx) error {
	id := ctx.Params("id")
	result, err := c.service.FindOne(id)
	if err != nil {
		return ctx.NotFound()
	}
	return ctx.OK(result)
}

func (c *{{.PascalName}}Controller) Create(ctx *core.Ctx) error {
	return ctx.Created(map[string]string{"message": "creado"})
}

func (c *{{.PascalName}}Controller) Update(ctx *core.Ctx) error {
	return ctx.OK(map[string]string{"message": "actualizado"})
}

func (c *{{.PascalName}}Controller) Delete(ctx *core.Ctx) error {
	return ctx.NoContent()
}
