package {{.PackageName}}

import (
	"github.com/slice-soft/ss-keel-core/core"
	"github.com/slice-soft/ss-keel-core/logger"
{{- if .UsesGormDatabase }}
	"github.com/slice-soft/ss-keel-gorm/database"
{{- end }}
{{- if .UsesMongoDatabase }}
	"github.com/slice-soft/ss-keel-mongo/mongo"
{{- end }}
)

type Module struct {
	log *logger.Logger
{{- if .UsesGormDatabase }}
	db  *database.DBinstance
{{- end }}
{{- if .UsesMongoDatabase }}
	mongoClient *mongo.Client
{{- end }}
}

func NewModule(log *logger.Logger{{- if .UsesGormDatabase }}, db *database.DBinstance{{- end }}{{- if .UsesMongoDatabase }}, mongoClient *mongo.Client{{- end }}) *Module {
	return &Module{
		log: log,
{{- if .UsesGormDatabase }}
		db:  db,
{{- end }}
{{- if .UsesMongoDatabase }}
		mongoClient: mongoClient,
{{- end }}
	}
}

func (m *Module) Register(app *core.App) {
{{- if .Repositories }}
{{- range .Repositories }}
{{- if .UsesGormRepo }}
		{{.VarName}}Repository := New{{.PascalName}}Repository(m.log, m.db)
{{- else if .UsesMongoRepo }}
		{{.VarName}}Repository := New{{.PascalName}}Repository(m.log, m.mongoClient)
{{- else }}
		{{.VarName}}Repository := New{{.PascalName}}Repository(m.log)
{{- end }}
{{- end }}
{{- end }}
{{- if .Services }}
{{- range .Services }}
{{- if .HasRepository }}
	{{.VarName}}Service := New{{.PascalName}}ServiceWithRepository({{.RepositoryVar}}, m.log)
{{- else }}
	{{.VarName}}Service := New{{.PascalName}}Service(m.log)
{{- end }}
{{- end }}
{{- end }}
{{- if .Controllers }}
{{- range .Controllers }}
{{- if .HasService }}
	{{.VarName}}Controller := New{{.PascalName}}Controller({{.ServiceVar}}, m.log)
{{- else }}
	{{.VarName}}Controller := New{{.PascalName}}Controller(nil, m.log)
{{- end }}
	app.RegisterController({{.VarName}}Controller)
{{- end }}
{{- end }}
}
