package {{.PackageName}}

import "github.com/slice-soft/ss-keel-core/core"

type Module struct{}

func (m *Module) Register(app *core.App) {
	svc := New{{.PascalName}}Service()
	ctrl := New{{.PascalName}}Controller(svc)
	app.RegisterController(ctrl)
}
