package {{.PackageName}}

type {{.PascalName}}Repository struct{}

func New{{.PascalName}}Repository() *{{.PascalName}}Repository {
	return &{{.PascalName}}Repository{}
}

func (r *{{.PascalName}}Repository) FindByID(id string) (map[string]string, error) {
	// TODO: implementar
	return map[string]string{"id": id}, nil
}
