package {{.PackageName}}

import (
	"context"

	"github.com/slice-soft/ss-keel-core/core"
)

type {{.PascalName}}Service struct {
}

func New{{.PascalName}}Service() *{{.PascalName}}Service {
	return &{{.PascalName}}Service{}
}

func (s *{{.PascalName}}Service) Hello(ctx context.Context) (string, error) {
	// Implement your business logic here
	return "Hello from {{.PascalName}}Service!", nil
}