package starter

import (
	"github.com/slice-soft/ss-keel-core/core/httpx"
	"github.com/slice-soft/ss-keel-core/logger"
)

type Controller struct {
	svc *Service
	log *logger.Logger
}

func NewController(svc *Service, log *logger.Logger) *Controller {
	return &Controller{svc: svc, log: log}
}

func (c *Controller) Routes() []httpx.Route {
	return []httpx.Route{
		httpx.GET("/hello", c.Hello).
			Tag("starter").
			Describe("Starter hello route").
			WithResponse(httpx.WithResponse[HelloResponseDTO](200)),
	}
}

func (c *Controller) Hello(ctx *httpx.Ctx) error {
	if c.log != nil {
		c.log.Info("starter hello route called")
	}

	return ctx.OK(c.svc.Hello())
}
