package {{.PackageName}}

import (
	"github.com/slice-soft/ss-keel-core/core"
	"github.com/slice-soft/ss-keel-core/logger"
)

type {{.PascalName}}Controller struct {
	log *logger.Logger
}

func New{{.PascalName}}Controller(log *logger.Logger) *{{.PascalName}}Controller {
	return &{{.PascalName}}Controller{log: log}
}

func (c *{{.PascalName}}Controller) Routes() []core.Route {
	return []core.Route{
		core.GET("/{{.KebabName}}", c.Handle).
			Tag("{{.KebabName}}").
			Describe("Handle {{.KebabName}} endpoint"),
	}
}

func (c *{{.PascalName}}Controller) Handle(ctx *core.Ctx) error {
	if c.log != nil {
		c.log.Info("handling {{.KebabName}} controller request")
	}
	return ctx.OK(map[string]string{"component": "{{.KebabName}}"})
}
