package guards

import (
	"github.com/gofiber/fiber/v2"
	"github.com/slice-soft/ss-keel-core/contracts"
	"github.com/slice-soft/ss-keel-core/logger"
)

type {{.PascalName}}Guard struct {
	log *logger.Logger
}

var _ contracts.Guard = (*{{.PascalName}}Guard)(nil)

func New{{.PascalName}}Guard(log *logger.Logger) *{{.PascalName}}Guard {
	return &{{.PascalName}}Guard{log: log}
}

func (g *{{.PascalName}}Guard) Middleware() fiber.Handler {
	return func(c *fiber.Ctx) error {
		if g.log != nil {
			g.log.Debug("executing {{.KebabName}} guard middleware")
		}
		return c.Next()
	}
}
