package middleware

import (
	"github.com/gofiber/fiber/v2"
	"github.com/slice-soft/ss-keel-core/logger"
)

func {{.PascalName}}(log *logger.Logger) fiber.Handler {
	return func(c *fiber.Ctx) error {
		if log != nil {
			log.Debug("executing {{.KebabName}} middleware")
		}
		return c.Next()
	}
}
