package {{.PackageName}}

import "github.com/slice-soft/ss-keel-core/logger"

type {{.PascalName}}Service struct {
	repository any
	log *logger.Logger
}

func New{{.PascalName}}Service(log *logger.Logger) *{{.PascalName}}Service {
	return &{{.PascalName}}Service{log: log}
}

func New{{.PascalName}}ServiceWithRepository(repository any, log *logger.Logger) *{{.PascalName}}Service {
	return &{{.PascalName}}Service{
		repository: repository,
		log:        log,
	}
}

func (s *{{.PascalName}}Service) Hello() {{.PascalName}}ResponseDTO {
	if s.log != nil {
		s.log.Info("processing {{.KebabName}} hello endpoint")
	}

	return {{.PascalName}}ResponseDTO{
		Message: "hello",
	}
}
